<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>

    <h1>Welcome to the Home Page</h1>

    <div class="container mt-4">
      <% blogs.forEach(blog => { %>
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem">
            <img
              src="<%= blog.coverImageURL %>"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <p class="card-text"><%= blog.body %></p>
              <a href="/blog/<%= blog._id %>" class="btn btn-primary"
                >view</a
              >
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>

    <%= JSON.stringify(user) %> <%- include('./partials/scripts') %>
  </body>
</html>
